.labeledInput {
    box-sizing: border-box;
    margin-bottom: 15px;

    &:last-child {
        margin: 0;
    }
}

.labeledInput__title {
    font-size: 13px;
    padding-bottom: 3px;
    display: block;
}

.labeledInput__input {
    width: 100%;
    box-sizing: border-box;
    line-height: 25px;
    padding: 0 10px;
    transition: outline 0.25s linear;
}


.labeledInput--opposite {
    .labeledInput__title {
        color: white;
    }

    .labeledInput__input {
        background: black;
        color: white
    }
}